.cabecalho {
    padding: 0.5% 16%;
}

.cabecalho__menu {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.cabecalho__menu__imagem {
    width: 100px;
    margin-right: 20px;
}

.cabecalho__menu__input-text {
    border: none;
    font-size: 1.2rem;
}

.cabecalho__menu__input-text input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--mubiPreto);
    font-family: var(--fontePrincipal);
    font-size: 1rem;
    padding-left: 5px;
}

.cabecalho__menu__input-text input::placeholder {
    color: var(--mubiBeje);
    font-size: 1rem;
}

.cabecalho__menu__link {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: auto;
}

.cabecalho__menu__link__links a {
    font-size: 1rem;
    font-family: var(--fontePrincipal);
    font-weight: 600;
    color: var(--mubiPreto);
    text-decoration: none;
}

.cabecalho__menu__botao {
    border: none;
    padding-left: 12px;
    font-size: 1.2rem;
}